/*
 *
 * Fonts
 * ========================================================================
 *
 */

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
    font-family: Helvetica, "Open Sans", Verdana, sans-serif;
}

/*
 *
 * SASS Setup
 * ========================================================================
 *
 */


/*
 *
 * Reset
 * ========================================================================
 *
 */

 * {
    margin: 0;
    padding: 0;
 }

/*
 *
 * Typography & Vertical Grid
 * ========================================================================
 *
 */

html {
    font-size: 100.01%;
}

body {
    text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

* {
    zoom: 0;
}

p {
    font-size: 12px;
}

/*
 *
 * Typography & Vertical Grid
 * ========================================================================
 *
 */

$baseline: 20px;
$comicWidth: 150px;
$comicHeight: 227px;

.clear {
    float: none;
    clear: both;
}

body {
    background: #23252b;
}

.header {
    width: 5 * $comicWidth + 6 * $baseline;
    margin: $baseline auto;

    img {
        margin-left: $baseline;
    }
}

.wrapper {
    width: 5 * $comicWidth + 6 * $baseline;
    margin: 0 auto;
    background: #fff;
    padding-bottom: $baseline;
}

 .comic {
    float: left;
    position: relative;
    width: $comicWidth;
    height: $comicHeight;
    margin: $baseline 0 0 $baseline;
    overflow: hidden;

    img {
        width: 100%;
        float: left;
    }

    .title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 5px;
        text-align: center;
        box-sizing: border-box;
    }
}

.oauth-button {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    line-height: 32px;
    padding: 0 10px 0 42px;
    background: #6cb5f4 url(../images/google-logo.png) top left no-repeat;
    color: #fff;
    outline: 1px solid #5e9ed5;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
