/*
 *
 * Fonts
 * ========================================================================
 *
 */
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
body {
  font-family: Helvetica, "Open Sans", Verdana, sans-serif; }

/*
 *
 * SASS Setup
 * ========================================================================
 *
 */
/*
 *
 * Reset
 * ========================================================================
 *
 */
* {
  margin: 0;
  padding: 0; }

/*
 *
 * Typography & Vertical Grid
 * ========================================================================
 *
 */
html {
  font-size: 100.01%; }

body {
  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

* {
  zoom: 0; }

p {
  font-size: 12px; }

/*
 *
 * Typography & Vertical Grid
 * ========================================================================
 *
 */
.clear {
  float: none;
  clear: both; }

body {
  background: #23252b; }

.header {
  width: 870px;
  height: 80px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -435px;
  background: rgba(35, 37, 43, 0.85);
  z-index: 1; }
  .header .quarter {
    display: block;
    width: 25%;
    padding-right: 20px;
    height: 80px;
    float: left;
    box-sizing: border-box; }
  .header img {
    position: absolute;
    left: 20px;
    bottom: 20px; }
  .header .list {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 40px;
    color: #aaaaaa;
    font-weight: 600;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.85);
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.25; }
    .header .list a, .header .list span {
      color: #aaaaaa;
      text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.85);
      text-decoration: none; }
    .header .list.logged-in {
      opacity: 1; }
      .header .list.logged-in:hover a {
        color: white; }
  .header .select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5) url(../images/select-arrow.png) center right no-repeat;
    margin-top: 20px; }
  .header .select select {
    background: transparent;
    width: 100%;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 40px;
    -webkit-appearance: none;
    outline: none;
    font-size: 13px;
    color: #aaaaaa;
    font-weight: 600;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.85);
    text-transform: uppercase;
    text-indent: 10px; }
  .header .button {
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
    background: #6cb5f4;
    color: white;
    outline: 1px solid #5e9ed5;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden; }
    .header .button:hover {
      background-color: transparencify(#6cb5f4, 0.5); }
    .header .button.google {
      padding-left: 42px;
      background-image: url(../images/google-logo.png);
      background-position: center left;
      background-repeat: no-repeat; }

.wrapper {
  width: 870px;
  margin: 80px auto 20px auto;
  background: white;
  padding-bottom: 20px; }

.comic {
  float: left;
  position: relative;
  display: block;
  overflow: hidden;
  width: 150px;
  height: 230px;
  margin: 20px 0 0 20px;
  overflow: hidden; }
  .comic .comic-wrapper {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    background: #666666; }
  .comic img {
    width: 150px;
    float: left; }
  .comic .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    text-align: center;
    box-sizing: border-box; }
  .comic .added {
    width: 98px;
    height: 98px;
    margin-left: -49px;
    margin-top: -49px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../images/added.png);
    display: none;
    opacity: 0; }
    .comic .added.visible {
      display: block;
      opacity: 1; }
  .comic:hover .added {
    opacity: 0;
    display: none; }
  .comic .add {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/add.png) center center no-repeat;
    display: none;
    opacity: 0; }
    .comic .add.active {
      display: block; }
  .comic:hover .add {
    opacity: 1; }
  .comic .delete {
    width: 98px;
    height: 98px;
    margin-left: -49px;
    margin-top: -49px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../images/delete.png);
    display: none;
    opacity: 0;
    z-index: 999; }
    .comic .delete.active {
      display: block; }
  .comic:hover .delete {
    opacity: 1; }
  .comic.list .add, .comic.list .added {
    display: none !important; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }
