<!doctype html>
<html lang="en" ng-app="Pull" id="ng-app">
    <head>
        <title ng-bind-template="Pull {{title ? ' | ' + title : ''}}">Pull</title>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
        <div class="wrapper">
            <div class="header">
            </div>
            <div ng-controller="LoginCtrl">
                <a ng-if="!user" href="/auth/google" class="oauth-button">Log In With Google</a>
                <span ng-if="user">
                    Logged in as {{user.displayName}}
                    (<a href="/logout">Log Out</a>)
                    ({{list.length}} items in your <a href="#/list">list</a>)
                </span>
            </div>
            <div ng-view></div>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>